@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body {
    background-color:#33322f;
    text-align: center;
    color:#fff;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 2em;
  }
h1,h2{
    font-family: 'Anonymous Pro', monospace;  
}
p {
    text-align: justify;
    font-family: 'Anonymous Pro', monospace;  
    color: aliceblue;
}
li{
    text-align: justify;
    font-family: 'Anonymous Pro', monospace;  
    color: aliceblue;
}
  
  .circulo {
    border-radius: 50%;
    shape-outside: circle(50%);
    display: inline-block;
    width: 400px;
    border: 3px solid rgb(255, 255, 255);
  }

  * { color:#fff; text-decoration: none;}